@import '../../styles/theme/mixin/responsive';

.LacTable {
  display: grid;
  font-size: 1.6rem;

  &-nav {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    justify-items: center;
    align-items: center;

    &__tab {
      padding: 10px 20px;
      position: relative;
      font-size: 1.6rem;
      color: var(--primary-light--5);

      &:after {
        position: absolute;
        display: flex;
        content: '';
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background: var(--secondary);
      }

      &--inactive {
        color: var(--primary-light--8);

        &:hover {
          color: var(--primary-light--5);
          cursor: pointer;

          &:after {
            background: var(--secondary);
          }
        }

        &:after {
          background: var(--primary-light--8);
        }
      }
    }

  }

  &-wrapper {
    padding: 2rem;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 0.4rem;
    display: grid;
    grid-gap: 2rem 0;
  }

  &-header {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    grid-gap: 0 2rem;
  }

  &-filterSlider {
    margin: 0 30px;
    display: block;
    width: 100%;
    max-width: 320px;
    //Overwriting slick styles
    .slick-arrow {
      color: var(--primary-dark--0) !important;

      &:hover, &:active, &:focus-within {
        color: var(--secondary) !important;
      }

      &::before, &::after {
        font-size: 1.6rem;
      }
    }
    //Css hack to set the same height for all the slides
    .slick-track {
      display: flex !important;
    }

    .slick-slide {
      height: inherit !important;
    }

    &__slide {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      position: relative;
      font-size: 1.6rem;

      &:after {
        position: absolute;
        display: flex;
        content: '';
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
      }

      &--active {
        color: var(--primary-light--5);

        &:after {
          background: var(--secondary);
        }
      }

      &--inactive {
        color: var(--primary-light--8);

        &:hover {
          color: var(--primary-light--5);
          cursor: pointer;


        }
      }
    }

  }

  &-actionBtns {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;

    &__btn {
      display: grid;
      align-items: center;
      justify-items: center;
      grid-auto-flow: column;
      grid-gap: 0.5rem;
      padding: 10px 15px;
      background: var(--secondary);
      border-radius: 0.4rem;
      color: white;
      font-weight: 700;
      font-size: 1.4rem;

      &:hover {
        cursor: pointer;
        filter: brightness(1.2);
        transition: 0.3s ease-in-out all;
      }

      &--export {
        &::before {
          content: "\e906";
        }
      }

      &--add {
      }
    }
  }

  &-table {

    width: 100%;

    @include sm() {
      max-width: 540px;
    }

    @include md() {
      max-width: 720px;
    }

    @include lg() {
      max-width: 960px;
    }

    @include xl() {
      max-width: 1140px;
    }

    @include xxl() {
      max-width: 1320px;
    }
  }
}