@import '../../styles/theme/mixin/responsive';

.LacTable {
  display: grid;
  font-size: 1rem;

  &-nav {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    justify-items: center;
    align-items: center;

    &__tab {
      background: transparent;
      padding: 0.4rem 0.8rem;
      position: relative;
      font-size: 0.8rem;

      @include md() {
        padding: 0.5rem 1.2rem;
        font-size: 1rem;
      }

      &:after {
        position: absolute;
        display: flex;
        content: '';
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
      }

      &--active {
        color: var(--primary-light--5);
        pointer-events: none;

        &:after {
          background: var(--secondary);
        }
      }

      &--inactive {
        color: var(--primary-light--8);

        &:hover {
          color: var(--primary-light--5);
          cursor: pointer;

          &:after {
            background: var(--secondary);
          }
        }

        &:after {
          background: var(--primary-light--8);
        }
      }
    }

  }

  &-wrapper {
    padding: 0.8rem;
    display: grid;
    grid-gap: 0.8rem 0;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 0.25rem;

    @include md() {
      grid-gap: 1.2rem 0;
    }

    &--loading {
      cursor: progress;
      filter: opacity(0.5) blur(1px);

      * {
        pointer-events: none;
      }
    }
  }

  &-header {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 1.2rem;
    overflow: auto;
    @include xl() {
      grid-gap: 0 1.2rem;
      grid-template-rows: 1fr;
      justify-content: space-between;
      overflow: initial;
    }
  }

  &-filterSlider {
    display: block;
    width: 100%;
    max-width: 255px;

    @include md() {
      margin: 0 2rem;
      max-width: 520px;
    }
    //Overwriting slick styles
    .slick-arrow {
      color: var(--primary-dark--0) !important;

      &:hover, &:active, &:focus-within {
        color: var(--secondary) !important;
      }

      &::before, &::after {
        font-size: 1rem;
      }
    }

    //Css hack to set the same height for all the slides
    .slick-track {
      display: flex !important;
    }

    .slick-slide {
      height: inherit !important;
    }


    &__slide {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.4rem 0.8rem;
      position: relative;
      font-size: 0.8rem;
      background: transparent;
      margin: auto;


      @include md() {
        grid-gap: 1.2rem;
        padding: 0.5rem 1.2rem;
        font-size: 1rem;
      }


      &:after {
        position: absolute;
        display: flex;
        content: '';
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
      }

      &--active {
        color: var(--primary-light--5);
        pointer-events: none;

        &:after {
          background: var(--secondary);
        }
      }

      &--inactive {
        color: var(--primary-light--8);

        &:hover {
          color: var(--primary-light--5);
          cursor: pointer;
        }
      }
    }

  }

  &-actionBtns {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-gap: 0.5rem;
    min-height: 60px;

    @include md() {
      grid-gap: 1.2rem;
    }

    &__btn {
      display: grid;
      align-items: center;
      justify-items: center;
      grid-auto-flow: column;
      grid-gap: 0.4rem;
      padding: 0.5rem 1rem;
      background: var(--primary);
      border-radius: 0.25rem;
      color: white;
      font-weight: 700;
      font-size: 0.8rem;

      @include md() {
        font-size: 0.9rem;
      }


      &:hover {
        cursor: pointer;
        filter: brightness(1.2);
        transition: 0.3s ease-in-out all;
      }

      &--export {
        &::before {
          content: "\e906";
        }
      }

      &--add {
      }
    }

  }

  &-actionBtns-menu {
    display: grid;
    grid-gap: 0.2rem;
    background: white;
    box-shadow: 0px 2px 2px 0px #00000040;

    &__option {
      color: var(--primary);
      padding: 0.25rem;

      &:hover {
        background: var(--primary-light--9);
        cursor: pointer;
      }
    }
  }

  &-table {
    overflow-x: scroll;

    //Custom styling for material table

    .MuiPaper-root {
      box-shadow: none;
      //Titles
      th {
        color: var(--primary);
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.05em;
      }
    }

    .MuiToolbar-root {
      * {
        font-size: 12px;
      }

      .material-icons {
        font-size: 18px;
      }
    }

    .MuiTableBody-root {
      //rows
      td, tr {
        border: none;
      }

      tr {
        font-size: 14px;
        font-weight: 500;

        &:nth-child(even) {
          background: var(--primary-light--10);
        }
      }

      td {
        padding: 12px;

        &:nth-last-child(0), &:nth-child(0) {
          padding: 0 20px;
        }
      }
    }

    //Footer (pagination)
    .MuiTableFooter-root {
      * {
        font-size: 12px;
        border: none;
      }

      .material-icons {
        font-size: 18px;
      }
    }

    width: 100%;

    @include sm() {
      max-width: 540px;
    }

    @include md() {
      max-width: 720px;
    }

    @include lg() {
      max-width: 960px;
    }

    @include xl() {
      max-width: 1140px;
    }

    @include xxl() {
      max-width: 1320px;
    }

  }
}

.MuiDialog-root {
  background: red !important;
}