@import '../../styles/theme/mixin/responsive';

.Home {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  padding-top: 3rem;
}

.hero {
  display: grid;
  grid-gap: 1rem 0;

  &__title {
    font-size: 2.2rem;
    color: var(--primary);
    line-height: 1;
    @include md() {
      line-height: initial;
    }
  }

  &__subtitle {
    font-size: 1.5rem;
    line-height: 1;
    @include md() {
      line-height: initial;
    }


    span {
      color: var(--secondary);
    }
  }
}



