// Small smartphones (landscape view)
$screen-xs-min: 320px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Laptops
$screen-xxl-min: 1400px;


// Smallest devices
@mixin xs{
  @media (min-width: #{$screen-xs-min}){
    @content;
  }

}

// Small devices
@mixin sm{
  @media (min-width: #{$screen-sm-min}){
    @content;
  }

}

// Medium devices
@mixin md{
  @media (min-width: #{$screen-md-min}){
    @content;
  }

}

// Large devices
@mixin lg{
  @media (min-width: #{$screen-lg-min}){
    @content;
  }

}

// Extra large devices
@mixin xl{
  @media (min-width: #{$screen-xl-min}){
    @content;
  }

}

// Extra extra large devices
@mixin xxl{
  @media (min-width: #{$screen-xxl-min}){
    @content;
  }

}

// Smallest devices
@mixin max-xs{
  @media (max-width: #{$screen-xs-min}){
    @content;
  }

}

// Small devices
@mixin max-sm{
  @media (max-width: #{$screen-sm-min}){
    @content;
  }

}

// Medium devices
@mixin max-md{
  @media (max-width: #{$screen-md-min}){
    @content;
  }

}

// Large devices
@mixin max-lg{
  @media (max-width: #{$screen-lg-min}){
    @content;
  }

}

// Extra large devices
@mixin max-xl{
  @media (max-width: #{$screen-xl-min}){
    @content;
  }

}

// Extra extra large devices
@mixin max-xxl{
  @media (max-width: #{$screen-xxl-min}){
    @content;
  }

}

// Custom devices
@mixin customMin($screen){
  @media (min-width: $screen+'px'){
    @content;
  }

}

@mixin customMax($screen){
  @media (max-width: $screen+'px'){
    @content;
  }

}
