@import '../mixin/responsive';

*,*::after, *::before {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  transition: background-color 0.3s ease-in-out,
  color 0.3s ease-in-out;
  scroll-behavior: smooth;

}

::-webkit-scrollbar {
    width: 0.6rem !important;
    height: 0.6rem !important;
    background-color: var(--bg-body);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-light--5);
    border-radius: 0.6rem;

}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.08);
}

html {
  line-height: 1.4;
  font-size: 62.5%; //NOTE: 1rem = 10px
  //NOTE: Set the font size to a fixed length (px) in the html tag would blown away user preferences, so don't do it viejo Jacobo
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, ul,li{
  margin: 0;
  padding: 0;
}

button{
  border: none;
}

ul{
  list-style: none;
}

.container {

  width: 100%;

  @include sm() {
    max-width: 540px;
  }

  @include md() {
    max-width: 720px;
  }

  @include lg() {
    max-width: 960px;
  }

  @include xl() {
    max-width: 1140px;
  }

  @include xxl() {
    max-width: 1320px;
  }
}



